#define COMBO(NAME, BINDINGS, KEYPOS) \
  combo_##NAME { \
    timeout-ms = <50>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <0>; \
  };

/ {
    combos {
        compatible = "zmk,combos";

        COMBO(combo_capsword, &caps_word, 28 31);
    };
};
