/ {
    combos {
        compatible = "zmk,combos";

        combo_caps_word {
            timeout-ms = <50>;
            key-positions = <28 31>;
            bindings = <&caps_word>;
            layers = <0>;
        };
    };
};
