/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        base {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  F   |  P   |  B   |                   |  J   |  L    |  U    |  Y   |   ;   |   -   |
            // |  CTRL |  A  |  R  |  S   |  T   |  G   |                   |  M   |  N    |  E    |  I   |   O   |   '   |
            // | SHIFT |  X  |  C  |  D   |  V   |  Z   |   "["  |  |  "]"  |  K   |  H    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            display-name = "Base";
            bindings = <
&kp GRAVE  &kp N1       &kp N2          &kp N3              &kp N4            &kp N5                           &kp N6    &kp N7             &kp N8               &kp N9           &kp N0       &kp EQUAL
&kp TAB    &kp Q        &kp W           &kp F               &kp P             &kp B                            &kp J     &kp L              &kp U                &kp Y            &kp SEMI     &kp MINUS
&kp ESC    &hml LCTRL A &hml LEFT_ALT R &hml LEFT_COMMAND S &hml LEFT_SHIFT T &kp G                            &kp M     &hmr RIGHT_SHIFT N &hmr RIGHT_COMMAND E &hmr RIGHT_ALT I &mt RCTRL O  &kp SQT
&kp LSHFT  &kp X        &kp C           &kp D               &kp V             &kp Z     &kp LBKT     &kp RBKT  &kp K     &kp H              &kp COMMA            &kp DOT          &kp FSLH     &kp RSHFT
                                        &tog 1              &kp LCTRL         &kp LALT  &kp SPACE    &kp RET   &kp BSPC  &kp RGUI           &tog 2
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        navigation {
            bindings = <
&trans  &trans        &trans        &trans        &trans        &trans                    &trans  &trans    &trans         &trans       &trans     &trans
&trans  &trans        &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans                    &trans  &trans    &kp LC(D)      &kp LC(U)    &trans     &trans
&trans  &kp NUMBER_0  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &trans                    &trans  &kp LEFT  &kp DOWN       &kp UP       &kp RIGHT  &trans
&trans  &trans        &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &trans  &trans    &trans  &trans  &trans    &kp PAGE_DOWN  &kp PAGE_UP  &trans     &trans
                                    &trans        &trans        &trans  &trans    &trans  &trans  &trans    &trans
            >;
        };

        symbol {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans
            >;
        };
    };
    behaviors {
        hml: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            flavor = "tap-preferred";
            tapping-term-ms = <180>;
            quick-tap-ms = <175>;
            label = "home_row_mod_left";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;
        };
        hmr: home_row_mod_right {
            compatible = "zmk,behavior-hold-tap";
            flavor = "tap-preferred";
            tapping-term-ms = <180>;
            quick-tap-ms = <175>;
            label = "home_row_mod_right";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;
        };
    };
};
